<div class="time-picker join p-0 md:pt-1 flex flex-col items-center">
  <div class="flex flex-row">
    <label class="lablel join-item border border-primary px-2">
      Time
      <select
        class="join-item select select-md"
        [(ngModel)]="selectedHour"
        (change)="emitTime()"
      >
        <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
      </select>
      :
      <select
        class="join-item select select-md"
        [(ngModel)]="selectedMinute"
        (change)="emitTime()"
      >
        <option *ngFor="let minute of minutes" [value]="minute">
          {{ minute }}
        </option>
      </select>
    </label>
    <input
      type="checkbox"
      class="checkbox checkbox-primary join-item h-[50px] w-10"
      id="timePickerCheckbox"
      (click)="emitTime()"
    />
  </div>
  <label>{{ selectedTime | date : "shortTime" }}</label>
</div>
