<div class="max-w-screen-2xl min-h-screen" [attr.data-theme]="retrievedMode">
  <app-nav-bar (selectedTheme)="SelectedTheme($event)"></app-nav-bar>
  <div class="container flex flex-col p-5">
    <app-chip-button
      (selectedCategory)="sortByCategory($event)"
      [categories]="categoryList"
    ></app-chip-button>

    <!-- loading Spinner-->
    <div class="text-center">
      <span
        class="loading loading-infinity loading-lg text-primary"
        *ngIf="!showedAllGroups?.length"
      ></span>
    </div>
    <div class="mb-5"></div>
    <!-- display all Groups-->
    <app-event-groups [groupsData]="showedAllGroups"></app-event-groups>
  </div>
</div>
