<div class="max-w-screen-2xl min-h-screen" [attr.data-theme]="retrievedMode">
  <app-nav-bar (selectedTheme)="SelectedTheme($event)"></app-nav-bar>

  <div class="container pt-5 flex flex-col">
    <div>
      <div class="toast toast-top toast-center z-50" *ngIf="showToastMessage">
        <div class="alert {{ toastType }}">
          {{ toastMessage }}
        </div>
      </div>
    </div>
    <div class="hero lg:min-h-[300px] bg-base-100 ml-0 md:ml-1 lg:ml-0">
      <div class="hero-content flex-col lg:flex-row">
        <img
          src="../../../assets/image/{{ groupInfos[0].image }}"
          class="w-80 md:max-w-sm rounded-lg shadow-2xl z-0"
        />
        <div class="row">
          <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold">
            {{ groupInfos[0].title }}
          </h1>
          <p class="py-6 max-w-[700px] lg:max-w-[800px]">
            {{ groupInfos[0].description }}
          </p>
          <div class="flex justify-between items-baseline min-w-80">
            <span class="text-primary font-bold"
              ><i class="fa-solid fa-icons mr-3 font-bold text-primary"></i
              >{{ groupInfos[0].category.toUpperCase() }}</span
            >
            <!-- edit button-->
            <button
              class="tooltip tooltip-bottom"
              data-tip="Edit"
              *ngIf="isAnAdministrator"
              (click)="editGroup()"
            >
              <span class="text-primary"
                ><i class="fa-solid fa-file-pen"></i
              ></span>
            </button>
            <div class="indicator">
              <span class="indicator-item badge badge-primary w-9">
                {{
                  groupInfos[0].members.length < 100
                    ? groupInfos[0].members.length
                    : "99+"
                }}
              </span>

              <div class="grid w-9 h-9 place-items-start font-bold">
                <span
                  class="tooltip tooltip-bottom"
                  [attr.data-tip]="groupInfos[0].members.length + ' Member(s)'"
                  ><i class="fa-solid fa-users text-primary"></i
                ></span>
              </div>
            </div>

            <button
              class="btn btn-sm md:btn-md btn-error"
              *ngIf="isJoined === true"
              (click)="leaveTheGroup()"
            >
              Leave
            </button>
            <button
              class="btn btn-sm md:btn-md btn-primary"
              *ngIf="isJoined === false"
              (click)="joinTheGroup()"
            >
              Join
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Admins List-->

    <app-admin-list
      [admins]="groupInfos[0].adminList"
      [isAdministrator]="isAnAdministrator"
      (openAddModal)="openAddDialog()"
      (ShowAdminsList)="showAllAdministrators()"
    ></app-admin-list>

    <!--Member List and event list section-->

    <app-member-list
      [members]="groupInfos[0].members"
      (ShowMore)="showMoreMember()"
    ></app-member-list>

    <div class="divider"></div>

    <!--Group Event List-->
    <app-group-event-list
      [allEvents]="allEvents"
      [isAdministrator]="isAnAdministrator"
      [isUserSignedIn]="isUserLoggedIn"
      (AttendEvent)="AttendAnEvent($event)"
    ></app-group-event-list>
  </div>
</div>
