<div
  class="container min-h-[200px] flex flex-col justify-center items-center top-8"
  [attr.data-theme]="themeVal"
>
  <h2 class="text-primary text-center text-2xl pt-4 font-bold">New Password</h2>
  <mat-dialog-content>
    <h3 class="text-error text-center" [hidden]="passwordErrorMessage">
      Please ensure that the password input is not empty."
    </h3>
    <p class="{{ themeVal === 'light' ? 'text-black' : 'text-white' }} pb-3">
      Please insert your new password.
    </p>
    <label class="input input-bordered text-primary flex items-center gap-2">
      Password
      <input
        type="text"
        class="grow text-primary"
        placeholder="*************"
        [(ngModel)]="passwordInput"
      />
    </label>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="flex gap-5">
      <button class="btn btn-sm btn-outline btn-error" (click)="closeModal()">
        Close
      </button>
      <button class="btn btn-sm btn-success" (click)="confirm()">Submit</button>
    </div>
  </mat-dialog-actions>
</div>
