<div
  class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ml-0 md:ml-6 lg:ml-0 xl:ml-5"
>
  <!--Loader-->
  <div class="flex flex-col gap-4 w-52" *ngIf="!showedGroups?.length">
    <div class="skeleton h-32 w-full"></div>
    <div class="skeleton h-4 w-28"></div>
    <div class="skeleton h-4 w-full"></div>
    <div class="skeleton h-4 w-full"></div>
  </div>

  <!-- Groups card-->
  <div
    class="card w-90 sm:w-80 sm:h-[260px] sm:mb-0 bg-base-100 shadow-xl image-full hover:opacity-95"
    *ngFor="let group of showedGroups"
  >
    <figure>
      <img
        src="'../../assets/image/{{ group.image }}"
        alt="{{ group.title }} image"
        loading="lazy"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-white font-bold">{{ group.title }}</h2>

      <p class="max-h-32 overflow-hidden">
        {{ group.description.substring(0, 40) + "..." }}
      </p>

      <div class="card-actions justify-between items-baseline">
        <div>
          <span
            ><i class="fa-solid fa-icons mr-2 mb-2 text-info"></i
            >{{ group.category.toUpperCase() }}</span
          >
        </div>
        <div class="indicator">
          <span class="indicator-item badge badge-info w-9">
            {{ group.eventList?.length < 10 ? group.eventList?.length : "10+" }}
          </span>
          <div class="grid w-9 h-9 place-items-start font-bold">
            <span
              class="tooltip tooltip-bottom tooltip-info"
              [attr.data-tip]="group.eventList?.length + ' Event(s)'"
              ><i class="fas far fa-calendar text-info"></i
            ></span>
          </div>
        </div>

        <button
          class="btn btn-sm btn-primary"
          routerLink="/Groups/{{ group.id }}"
        >
          Details
        </button>
      </div>
    </div>
  </div>
</div>
