<div
  class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  <!--Loader-->
  <div class="flex flex-col gap-4 w-52" *ngIf="!showedGroups?.length">
    <div class="skeleton h-32 w-full"></div>
    <div class="skeleton h-4 w-28"></div>
    <div class="skeleton h-4 w-full"></div>
    <div class="skeleton h-4 w-full"></div>
  </div>

  <!-- Groups card-->
  <div
    class="card w-90 sm:w-80 sm:h-[260px] sm:mb-0 bg-base-100 shadow-xl image-full hover:opacity-95"
    *ngFor="let group of showedGroups"
  >
    <figure>
      <img
        src="'../../assets/image/{{ group.image }}"
        alt="{{ group.title }} image"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-white font-bold">{{ group.title }}</h2>

      <p class="max-h-32 overflow-hidden">
        {{ group.description.substring(0, 40) + "..." }}
      </p>
      <div class="card-actions justify-between items-baseline">
        <div class="indicator">
          <span class="indicator-item badge badge-primary">{{
            group.eventList?.length
          }}</span>
          <button class="btn btn-sm">Event</button>
        </div>

        <button
          class="btn btn-sm btn-primary"
          routerLink="/Groups/{{ group.id }}"
        >
          Details
        </button>
      </div>
    </div>
  </div>
</div>
