<div
  class="container min-h-[200px] flex flex-col justify-center items-center"
  [attr.data-theme]="themeVal"
>
  <h2 class="text-primary text-center text-2xl pt-4 font-bold">
    New Administrator
  </h2>
  <mat-dialog-content>
    <h3 class="text-error text-center" [hidden]="emailErrorMessage">
      Invalid email format. Please try again
    </h3>
    <p class="{{ themeVal === 'light' ? 'text-black' : 'text-white' }} pb-3">
      Insert the user's email to grant administrator privileges.
    </p>
    <label class="input input-bordered text-primary flex items-center gap-2">
      Email
      <input
        type="text"
        class="grow text-primary"
        placeholder="email@example.com"
        [(ngModel)]="emailInput"
      />
    </label>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="join">
      <button
        class="btn join-item btn-sm btn-outline btn-error"
        (click)="closeModal()"
      >
        Close
      </button>
      <button class="btn join-item btn-sm btn-success" (click)="confirm()">
        Submit
      </button>
    </div>
  </mat-dialog-actions>
</div>
