<div class="flex flex-col justify-center items-center mb-3">
  <div class="flex flex-row gap-10 items-baseline">
    <label class="mb-5 text-primary font-bold">Administrators</label>
    <div class="join">
      <button
        class="btn join-item btn-sm btn-outline btn-success tooltip tooltip-top"
        data-tip="New Admin"
        (click)="openAddAdministratorDialog()"
        *ngIf="isAdministrator"
      >
        <span><i class="fa fa-user-plus"></i></span>
      </button>
      <button
        class="join-item  {{
          isAdministrator === true
            ? 'btn btn-sm btn-outline btn-primary'
            : 'btn btn-sm btn-disabled'
        }} tooltip tooltip-top"
        data-tip="See More"
        (click)="showAdministratorsList()"
      >
        <span><i class="fas fa-angles-right"></i></span>
      </button>
    </div>
  </div>
  <div class="avatar" *ngIf="!admins?.length">
    <div class="w-12">
      <span><i class="fa-solid fa-user-secret text-4xl text-center"></i></span>
    </div>
  </div>

  <div
    class="admin-list-row flex flex-row overflow-auto gap-5 max-w-80 md:max-w-[900px] text-center"
  >
    <div
      class="avatar placeholder flex-col items-center"
      *ngFor="let admin of ShowAdmins"
    >
      <div class="bg-neutral text-neutral-content rounded-full w-12">
        <span class="text-md md:text-2xl text-info"
          >{{ admin.firstName.toUpperCase().slice(0, 1)
          }}{{ admin.lastName.slice(0, 1) }}</span
        >
      </div>
      <label class="text-primary"
        >{{ admin.firstName }} {{ admin.lastName }}</label
      >
    </div>
    <div
      class="avatar placeholder flex-col items-center"
      *ngIf="admins.length > 2"
    >
      <div class="bg-neutral text-neutral-content rounded-full w-12">
        <span class="text-md md:text-xl text-info"
          >+{{ admins.length - ShowAdmins.length }}</span
        >
      </div>
    </div>
  </div>
</div>
