<div class="flex flex-col justify-center items-center mb-3">
  <div class="flex flex-row gap-20 justify-center items-start">
    <h2 class="mb-5 text-primary font-bold">Administrators</h2>
    <button
      class="btn btn-sm btn-outline btn-primary tooltip tooltip-top"
      data-tip="New Admin"
      (click)="openAddDeviceDialog()"
      *ngIf="isAdministrator"
    >
      <span><i class="fa fa-user-plus"></i></span>
    </button>
  </div>
  <div class="avatar" *ngIf="!admins?.length">
    <div class="w-12">
      <span><i class="fa-solid fa-user-secret text-4xl text-center"></i></span>
    </div>
  </div>

  <div
    class="admin-list-row flex flex-row overflow-auto gap-5 max-w-80 md:max-w-[900px] text-center"
  >
    <div
      class="avatar placeholder flex-col items-center"
      *ngFor="let admin of ShowAdmins"
    >
      <div class="bg-neutral text-neutral-content rounded-full w-12">
        <span class="text-md md:text-2xl text-info"
          >{{ admin.firstName.toUpperCase().slice(0, 1)
          }}{{ admin.lastName.slice(0, 1) }}</span
        >
      </div>
      <label class="text-primary"
        >{{ admin.firstName }} {{ admin.lastName }}</label
      >
    </div>
  </div>
</div>
