.right-corner-badge {
  position: absolute;

  right: 0px;
}
.top-image {
  border-radius: 15px 10px 0 0;
}

.card:hover {
  .card-title {
    text-decoration: underline;
  }
}

.type-badge-left-bottom {
  position: absolute;
  top: 140px;
}

.rating-indicator {
  position: absolute;
  top: 140px;
  right: 0px;
}
