<div
  class="container max-w-screen-2xl min-h-screen bg-gray-400 flex justify-center pt-10 sm:pt-20 md:pt-24 lg:pt-30"
>
  <div
    class="middle-container bg-gradient-to-r from-black to-slate-600 rounded-xl shadow-2xl shadow-blue-400 flex h-[570px] w-[335px] sm:w-[360px] sm:h-[550px] flex-col md:w-[550px] md:h-[570px] lg:w-[800px] lg:flex-row lg:h-[500px]"
  >
    <div
      class="left-div sm:w[360px] md:w-[550px] lg:w-[300px] flex flex-col justify-top items-center shadow-xl-black pt-3"
    >
      <div class="avatar text-white lg:mt-16 sm:pt-5">
        <span
          ><i class="fa-solid fa-people-roof sm:text-4xl lg:text-5xl"></i
        ></span>
      </div>
      <p class="sm:text-2xl lg:text-3xl font-bold text-white mb-5">
        Event Management
      </p>
    </div>
    <!-- right side for signup form  -->
    <div
      class="right-div flex flex-col items-center sm:w-[360px] pt-4 md:w-[550px] lg:w-[500px]"
    >
      <p class="text-white text-2xl md:text-4xl">Register</p>
      <p class="sm:text-sm md:text-base font-bold text-info lg:mt-2">
        IT's completely Free
      </p>

      <div class="Form flex flex-col items-center gap-2">
        <div class="divider divider-accent text-white">
          Personal Information
        </div>
        <!-- first input row -->
        <div
          class="row-one flex flex-col md:flex-row lg:flex-row md:gap-2 gap-2"
        >
          <label
            class="input input-sm lg:input-md input-bordered flex items-center gap-2"
          >
            <span><i class="fa-solid fa-user-tie"></i></span>
            <input type="text" class="grow" placeholder="Name" />
          </label>
          <label
            class="input input-sm lg:input-md input-bordered flex items-center gap-2"
          >
            <span><i class="fa-solid fa-user"></i></span>
            <input type="text" class="grow" placeholder="Last name" />
          </label>
        </div>
        <!-- second input row -->
        <div
          class="row-one flex flex-col md:flex-row lg:flex-row md:gap-2 gap-2"
        >
          <label
            class="input input-sm lg:input-md input-bordered flex items-center gap-2"
          >
            <span><i class="fa-solid fa-location-dot"></i></span>
            <input type="text" class="grow" placeholder="Location" />
          </label>
        </div>
        <div class="divider divider-accent text-white">
          Credential Information
        </div>
        <!--Third input row-->
        <div
          class="row-one flex flex-col md:flex-row lg:flex-row md:gap-2 gap-2"
        >
          <label
            class="input input-sm lg:input-md input-bordered flex items-center gap-2"
          >
            <span><i class="fa-solid fa-envelope"></i></span>
            <input type="text" class="grow" placeholder="Email" />
          </label>
          <label
            class="input input-sm lg:input-md input-bordered flex items-center gap-2"
          >
            <span><i class="fa-solid fa-lock"></i></span>
            <input type="password" class="grow" placeholder="Password" />
          </label>
        </div>
        <!-- fourth row-->
        <div
          class="row-one flex flex-col md:flex-row lg:flex-row md:gap-2 gap-2"
        >
          <label
            class="input input-sm lg:input-md input-bordered flex items-center gap-2"
          >
            <span><i class="fa-solid fa-key"></i></span>
            <input type="text" class="grow" placeholder="Confirm Password" />
          </label>
        </div>
        <!-- Submit button-->
        <div class="row-one flex flex-row gap-3 md:gap-5 mt-2">
          <button class="btn btn-xs sm:btn-sm md:btn-md btn-error">
            <span><i class="fa-solid fa-xmark"></i></span>Cancel
          </button>
          <button class="btn btn-xs sm:btn-sm md:btn-md btn-success">
            <span><i class="fa-solid fa-check"></i></span>Signup
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
