<div
  class="container max-w-screen-2xl h-screen {{
    themeVal === 'light' ? 'bg-gradient-to-r from-blue-800 to-blue-400' : ''
  }} flex justify-center pt-20 sm:pt-24 md:pt-30 lg:pt-36 "
  [attr.data-theme]="themeVal"
>
  <div
    class="form-control {{
      themeVal === 'light'
        ? 'bg-gradient-to-b from-white to-blue-400'
        : 'bg-gradient-to-b from-gray-900 to-gray-600'
    }} p-5 flex items-center h-[470px] sm:w-[300px] md:w-[400px] lg:w-[420px]"
    [attr.data-theme]="themeVal"
  >
    <label
      class="font-bold text-3xl bg-transparent {{
        themeVal === 'light' ? 'text-primary' : 'text-warning'
      }}"
      [attr.data-theme]="themeVal"
      >Log In</label
    >
    <div class="input-form-group mt-9 flex flex-col gap-3">
      <label
        class="input input-md input-bordered flex items-center gap-2 {{
          themeVal === 'light' ? 'input-primary' : 'input-warning'
        }}"
      >
        <span
          class="{{ themeVal === 'light' ? 'text-primary' : 'text-warning' }}"
          ><i class="fa-solid far fa-envelope"></i
        ></span>
        <input
          type="text"
          class="font-bold {{
            themeVal === 'light' ? 'text-primary' : 'text-warning'
          }}"
          placeholder="Email"
        />
      </label>
      <label
        class="input input-md input-bordered flex items-center gap-2 {{
          themeVal === 'light' ? 'input-primary' : 'input-warning'
        }}"
      >
        <span
          class="{{ themeVal === 'light' ? 'text-primary' : 'text-warning' }}"
          ><i class="fa-solid fa-key"></i
        ></span>
        <input
          type="{{ typePassword }}"
          class="font-bold {{
            themeVal === 'light' ? 'text-primary' : 'text-warning'
          }}"
          placeholder="Password"
        />
        <i
          class="toggle-pass fa-solid {{ eyeType }}"
          id="togglePasswordVisibility"
        ></i>
      </label>
      <button
        class="btn font-bold mt-10  {{
          themeVal === 'light'
            ? 'btn-primary text-white'
            : 'btn-warning text-black'
        }}"
      >
        <span><i class="fa-solid fa-right-to-bracket"></i></span>Log In
      </button>
      <a class="link-primary text-center mt-2">Forget Password?</a>
      <span class="mt-12 text-center font-bold"
        >Don't have an account ?
        <a class="link-error" routerLink="/Home">Sign up</a></span
      >
    </div>
  </div>
</div>
