<div class="max-w-screen-2xl min-h-screen" [attr.data-theme]="retrievedMode">
  <app-nav-bar (selectedTheme)="SelectedTheme($event)"></app-nav-bar>
  <div class="toast toast-top toast-center z-50" *ngIf="showToastMessage">
    <div class="alert {{ toastType }}">
      {{ toastMessage }}
    </div>
  </div>
  <div class="container flex flex-col items-center xl:flex-row md:items-start">
    <!-- Sidebar -->
    <aside class="sidebar shadow-2xl h-48 w-full xl:w-56 xl:h-screen">
      <div class="p-4">
        <div
          class="text-xl font-semibold {{
            retrievedMode === 'light' ? 'text-black' : 'text-white'
          }} mb-4"
        >
          {{ UserInfo[0].firstName }} {{ UserInfo[0].lastName }}
        </div>
        <ul class="space-y-2">
          <li>
            <label>location : {{ UserInfo[0].location }}</label>
          </li>
          <li>
            <label>Email : {{ UserInfo[0].email }}</label>
          </li>
          <li class="flex flex-row justify-between">
            <label class="font-bold">Change Password</label
            ><button
              class="btn btn-sm btn-outline btn-primary tooltip tooltip-bottom"
              data-tip="Change"
              (click)="OpenChangePasswordModal()"
            >
              <span><i class="fa-solid fa-edit"></i></span>
            </button>
          </li>
        </ul>
      </div>
    </aside>

    <!-- Content Area -->
    <main class="h-full w-[350px] md:w-[750px] lg:w-full mt-10 xl:px-10">
      <div role="tablist" class="tabs tabs-lifted">
        <input
          type="radio"
          name="my_tabs_2"
          role="tab"
          class="tab text-primary text-sm lg:text-2xl font-bold"
          aria-label="Groups"
          checked="checked"
        />
        <div
          role="tabpanel"
          class="tab-content bg-base-100 border-base-300 rounded-box px-1 pt-5 w-[350px] md:w-[750px] lg:w-full md:px-4 xl:p-6"
        >
          <app-user-groups
            [allGroups]="filteredGroups"
            (searchGroups)="searchGroups($event)"
          ></app-user-groups>
        </div>

        <input
          type="radio"
          name="my_tabs_2"
          role="tab"
          class="tab text-primary text-sm lg:text-2xl font-bold"
          aria-label="Events"
        />
        <div
          role="tabpanel"
          class="tab-content bg-base-100 border-base-300 rounded-box px-1 pt-5 w-[350px] md:w-[750px] lg:w-full md:px-4 xl:p-6"
        >
          <app-user-events
            [allEvents]="filteredEvents"
            (searchEvents)="searchEvents($event)"
          ></app-user-events>
        </div>
      </div>
    </main>
  </div>
</div>
